<h1>Requisitos</h1>
<p><%= link_to 'Times que realizaram estimativas',teams_that_answered_requirement_improvements_path %></p>
<p><%= link_to 'Resultados por requisito',results_by_requirement_requirement_improvements_path %></p>
<p><%= link_to 'Contagem por requisito',count_by_requirement_requirement_improvements_path %></p>
