<h1>Participantes</h1>
<p><%= link_to 'Tela de Comparação das Primeiras Estimativas',participants_comparison_participant_improvements_path %></p>
<p><%= link_to 'Tela de Comparação das Primeiras Estimativas Independente do Time',participants_comparison_independent_participant_improvements_path %></p>
